<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="Functional" verbose = "1" parallel ="tests" thread-count="1">-->
    <suite name="Functional" verbose = "1" >
    <!--<listeners>-->
    <!--    <listener class-name="runners.Listeners"/>-->
    <!--</listeners>-->
    <test name="Login Test">
        <classes>
            <class name="runner.TestRunner"/>
        </classes>

    </test>
</suite>